.btn-red:hover {
    color: var(--bs-btn-hover-color);
    background-color: darkred;
    border-color: var(--bs-btn-hover-border-color);
}

.disablegroupbutton,
.disablegroupbutton:hover  {
    color: white;
    background-color: #4a8600;
    border-color: darkgreen;
}

.intensity-1 {
    background-color: #ff002f12;
}

.intensity-2 {
    background-color: #ff002f2b;
}

.intensity-3 {
    background-color: #ff002f44;
}

.intensity-4 {
    background-color: #ff002f5d;
}

.intensity-5 {
    background-color: #ff002f76;
}

.intensity-6 {
    background-color: #ff002f8f;
}

.intensity-7 {
    background-color: #ff002fa8;
}

.intensity-8 {
    background-color: #ff002fc1;
}

.intensity-9 {
    background-color: #ff002fda;
}

.intensity-10 {
    background-color: #ff002ff3;
}
